.tripDetail{padding:5vw;}
.infoItem{width:100%;margin-top:8vw;}
.infoItem:first-of-type{margin-top:0;}
.infoItem h3{font-size:5vw;font-weight:600;margin-bottom:5vw;color:#333333;}
.infoItem p{font-size:4.75vw;margin-bottom:2.5vw;color:#515151;}
.infoItem p label,.infoItem p span{display:inline-block;vertical-align:middle;}
.infoItem .driverName img{width:10vw;height:10vw;background-color:#aaa;border-radius:100vw;border:none;overflow:hidden;margin-right:3vw;}
.infoItem .driverName span{line-height:10vw;}
